body {
	overflow:hidden;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
	cursor: not-allowed, auto;
}

a {
	color:red;
}

* {
	box-sizing: border-box;
  }
  
  body {
	font-size: 70px;
  }
  

  .container {
	display: flex;
	flex-wrap: wrap;
  }

  .beacon {
	animation: blinker 1s step-end infinite;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: rgb(255, 0, 0);
  position: relative;
  top: -900px;
  left: 600px;
  }
  
  @keyframes beacon {
	50% {
	  opacity: 0;
	}
  }

.img{ 
	width: 500px;
	z-index: 2;
}

.left {
width: 50%;
height: 100vh;
background-color: rgb(34, 34, 34);
color: rgb(255, 255, 255);
overflow: scroll;
padding: 20px;
}

.title {
	margin-top: 85px;
	font-size: 30vh;
	line-height: 10vh;
}

.dots {
	z-index: 2;
position: relative;
top: -60vh;
right: 202px;
width: 100%;
pointer-events: none;
color: rgb(0, 255, 21)
}



.man img {
 display: flex;
 flex-wrap: wrap;
  width: 1000px;
  position: relative;
}

.barcode img {
  z-index: 6;
  position: relative;
  width: 25%;
  bottom: 0;
  left: 0;
}

.about {
	width: 100%;
	font-size: 124px;
	border-left: 5px solid rgb(255, 255, 255);
	color: chartreuse;
	cursor:pointer;
}

.testcard {
	width: 100%;
	z-index: 3;
	margin-top: -75px;
}

.lidar {
	margin-top: -75px;
}

.para1 {
	box-shadow: inset 0 0 40px #000000;
	color: white;
	  padding: 20px;
	  border-radius: 5px;
	  font-size: 24px;
	  display: flex;
	  flex-wrap: wrap;
	  position: relative;
	  text-align: left;
	  display: none;
  }

  .para2 {
	box-shadow: inset 0 0 40px #000000;
	color: white;
	  padding: 20px;
	  border-radius: 5px;
	  font-size: 24px;
  }

  .two {
	box-shadow: inset 0 0 40px #000000;
	  padding: 20px;
	  border-radius: 5px;
	  font-size: 24px;
	  display: flex;
	  flex-wrap: wrap;
	  position: relative;
	  text-align: left;
  }

  .array img{
	position: relative;
  top: 90px;
  right: 202px;
  width: 100%;
  pointer-events: none;
  z-index: 4;
   }

   .a4 img {
	   width:100%;
	   position: relative;
	   top: 50vh;
	   margin-left: 15vh;
   }

   .a4i img {
	width:100%;
	position: relative;
	top: -40vh;
	margin-left: 0vh;
}

	.title em {
	font-style: italic;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 10vh;
  }

  .chapters {
	  font-family: Arial, Helvetica, sans-serif;
	  margin-top: 20vh;
	  margin-bottom: 5vh;
	  text-align: center;
	  text-decoration: underline solid white;
	  width: 100%;
  }

  .outgoing  {
	  display: flex;
	  flex-wrap: wrap;
	  position: relative;
	  width: 100%;
	  justify-content: space-around;
	  } 
.chapter img {
	width: 200px;
	padding: 10px;
	background-color: transparent;
}
  .laneus :hover {
	background-color: rgb(252, 153, 255);
	transition: 1s;
	border-radius: 100%;
  }
  .unicode :hover {
	background-color: rgb(79, 98, 184);
	transition: 1s;
	border-radius: 100%;
	  }
	  .lisa :hover {
		background-color: rgb(186, 140, 207);
		transition: 1s;
		border-radius: 100%;
		  }
	.amelia :hover {
	background-color: rgb(138, 138, 138);
	transition: 1s;
	border-radius: 100%;
		}
	.kirrily :hover {
	background-color: rgb(187, 218, 196);
	transition: 1s;
	border-radius: 100%;
		}
	.maddy :hover {
		background-color: rgb(112, 50, 228);
		transition: 1s;
		border-radius: 100%;
		}

  .right strong {
	  font-family: Verdana, Geneva, Tahoma, sans-serif;
	  font-weight: 700;
  }
  .right {
	width: 50%;
	height: 100vh;
	background-color: rgb(236, 236, 236);
	overflow: scroll;
	padding: 20px;
  }

  .right video {
	  margin-top: 100px;
  }

  .watched {
	  color:  rgb(34, 34, 34);
	  margin-top: 50px;
	  padding: 2px;
	  font-size: 24px;
	  text-align: center;
	  
  }

  .watched em {
	  color: blue;
	  font-style: underline;
	  cursor: not-allowed;
  }

  .xxxxx {
font-size: 10vh;
font-family:cursive;
margin-top: 20px;
pointer-events: none;
text-shadow: 2px 2px 6px #00ff15; 
  }

  .quote {
	  font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-size: 4vh;
	  padding: 40px;
  }

  .s {
	  width: 200px;
	  opacity:20%;
  }

  .s1 img {
	  position: relative;
	  top: -105vh;
	  left: 15vh;
	  width: 100%;
	  color: coral;
	  mix-blend-mode: exclusion;
	  z-index: 3;
  }
  .s2 img {
	position: relative;
	filter:sepia();
	top: -100vh;
	left: 60vh;
	width: 75%;
	color: coral;
	mix-blend-mode: exclusion;
	z-index: 3;
}



  .symbol {
position: fixed;
width: 150px;
pointer-events: none;
  }
  .symbol img {
	  width: 100%;
  }
  .left-top {
top: 0;
left: 0;
  }
  .right-top {
top: 0;
right: 0;
  }
  .left-bottom {
left: 0;
Bottom: 0;
  }
  .right-bottom {
Right: 0;
Bottom: 0;
  }
  .centre {
	  top: 50%;
	  margin-top: -75px;
	  left: 50%;
	  margin-left: -75px;
  }

  video {
	  width: 100%
  }


  .buybook  a {
	float:left;
	width: 100%;
	background-color: rgb(120, 170, 226);
	border-radius: 200px;
	padding: 50px;
	text-align: center;
	margin-top: 3rem;
	color: blue;
	animation: blinker 1s step-end infinite;
  }
  
  @keyframes blinker {
	50% {
	  opacity: 0;
	}
  }

  .smile {
	  font-size: 24px;
	  position: fixed;
	  top: 0;
	  text-align: center;
	  width: 100%;
	  border: seashell;
	  border-width: 1px;
	  color: seashell;
	  font-family: Arial, Helvetica, sans-serif;
	  z-index: 6;
	  opacity: 50%;
	  text-shadow: 0px 0px 2px rgb(0, 0, 0);

  }

  .info{
	  font-size: 2vh;
	  
  }

  
.scroll-left {
 height: 100px;	
 width: 100%;
 overflow: hidden;
 position: fixed;
 bottom: 0;
 color: rgb(0, 0, 0);
 font-size: 24px;
 pointer-events: none;
}

.scroll-left p {
 position: relative;
 bottom: 0;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 150px;
 text-align: center;
 transform:translateX(100%);
 animation: scroll-left 20s linear infinite;
 pointer-events: none;
}

@keyframes scroll-left {
 0%   {
 transform: translateX(100%); 		
 }
 100% {
 transform: translateX(-100%); 
 }
}

