body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
	background-color:#272525;
}

a {
	color:#ffc0cb;
	font-weight: 900;
}

.map {
	position: absolute;
	right: 0px;
	bottom: 0vh;
	z-index: 2;
	opacity: 0.3;
	transition: 250ms;
	pointer-events: auto;
	padding-left: 1vw;
	padding-right: 1vw;
}

.map img {
	width: 28vw;
}

.map:hover {
	z-index: 3;
	opacity: 1;
}

.melbourne {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
}

.melbourne img {
width: 100vw;
}

.button {
	position: fixed;
	top: 0px;
	Right: 0px;
	border: none;
	z-index: 3;
	padding: 2.5vw;
	height: 20vh;
}

.button img {
	width: 5vw;
}

.title {
	margin-top: 20vh;
	color: white;
	position: absolute;
	top: 4vh;
	left: 4vh;
	font-size: 4vh;
	line-height: 0.4;
}

.title em {
	line-height: 0.9;
	font-size: 8vh;
}

.boxes {
	display:flex;
	flex-wrap:wrap;
	position:relative;
	top:0px;
	left:0px;
	z-index: 2;
  }
  
  .box {
	border-right:1px solid white;
	border-bottom:1px solid white;  
	height:10vw;
	width:10vw;
	pointer-events:none;
  }
  
  .box.black {
   pointer-events:auto;
   z-index: 3;
   opacity: 0;
  }
  
  .box.black:hover {
	background-color: black;
	opacity: 0.7;
  }

  .menu {
	height: 100vh;
	width: 33%;
	background-color: white;
	position: fixed;
	right: 0px;
	top: 0px;
	margin-right: -40%;
	padding: 20px;
	box-shadow: -5px 0px 10px 2px rgb(0, 0, 0);
	transition: 500ms;
  }
  
  .menu.open {
	margin-right: -0;
	background-color:#272525;
	z-index: 3;
	width: 30vw;
	transition: 500ms;
  }

  .exitbutton {
		position: absolute;
		top: 0px;
		left: 0px;
		border: none;
		z-index: 3;
		padding: 2.5vw;
		cursor: pointer;
	}
	
	.exitbutton img {
		width: 5vw;
	}
  
  .nav {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 2;
  }
  
  .button {
	cursor: pointer;
  }

  .docklandsicon {
	top: 16vw;
	left:45vw;
	position: absolute;
	transition: 200ms;
	z-index: 4;
  }

  .docklandsicon img {
	  width: 6vw;
	  height: 6vw;
	  border: white .5vw solid;
	  border-radius: 100%;
	  cursor: pointer;
  }

  .docklandsicon:hover {	 
	transition: 200ms;
    transform: scale(1.5);
}

.about {
	padding:2vw;
	color: white;
	font-size: 1vw;
	margin-top: 18vh;
	line-height: 1.4;
}

.dockinfo {
	margin-top: -80.33vh;
	margin-left: 50vw;
	width: 19.95vw;
	height:59.95vh;
	position: relative;
	background-color:#272525;
	z-index: 2;
	opacity: 0;
	transition: 250ms;
}

.dockinfo.open{
	opacity: 1;
}

.dockpic {
	position: absolute;
	z-index: 1;
}

.dockpic img{
	padding: 1vw;
	width: 20vw;
}

.text {
	color: white;
	margin-top: 11vw;
	padding: 1vw;
	position: absolute;
	width: 100%;
	height: 60%;
	overflow: scroll;
	font-size: 1vw;
	line-height: 1.4;
}

.exitdock {
	position: absolute;
	top: 0px;
	right:0px;
	z-index: 3;
	transition: 250ms;
	cursor:pointer
}

.exitdock img {
	width:2vw;
}

.osloicon {
	top: 10vw;
	left:33vw;
	position: absolute;
	transition: 200ms;
	z-index: 4;
  }

.osloicon img {
	width: 6vw;
	height: 6vw;
	border: white .5vw solid;
	border-radius: 100%;
	cursor: pointer;
}

.osloicon:hover {	 
  transition: 200ms;
  transform: scale(1.5);
}

.oslocity {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
}

.oslocity img {
width: 100vw;
}

.osloinfo {
	margin-top: -60vh;
	margin-left: 10vw;
	width: 19.95vw;
	height:59.95vh;
	position: relative;
	background-color:#272525;
	z-index: 2;
	opacity: 0;
	transition: 250ms;
}

.osloinfo.open{
	opacity: 1;
}

.oslorubble {
	position: absolute;
	z-index: 1;
}

.oslorubble img{
	padding: 1vw;
	width: 20vw;
}

.exitoslo {
	position: absolute;
	top: 0px;
	right:0px;
	z-index: 3;
	transition: 250ms;
	cursor:pointer
}

.exitoslo img {
	width:2vw;
}

.oslotext {
	color: white;
	margin-top: 12vw;
	padding: 1vw;
	position: absolute;
	width: 100%;
	height: 60%;
	overflow: scroll;
	font-size: 1vw;
	line-height: 1.4;
}

.melbpin {
	position: absolute;
	right:4vw;
	bottom:3vw;
	width: 1vw;
	height: 1vw;
	background-color: white;
	border-radius: 100%;
	z-index: 3;
}