body {
	font-size: 20px;
	font-family: 'Nunito_Sans';
	background-color: black;
	color: white;
  }
  
  .open-menu {
	width: 5vw;
	height: 5vw;
	position: fixed;
	top: 2.5vw;
	left: 2.5vw;
	cursor: pointer;
	z-index: 6;
	box-shadow: 2px 2px 10px black;
	border-radius: 100%;
	transition: 200ms;
  }

  .open-menu img {
	width:5vw;
  }

  .open-menu:hover {
	transform: scale(1.5);  
}
  
	.map-link {
    cursor: pointer;
    border-bottom: white solid 0.1vw;
    transition: 500ms;
    padding: 1vw;
	vertical-align: middle;
}

  .map-link:hover {
	background-color: rgb(60, 60, 60);
	transition: 500ms;
	vertical-align: middle;
	padding:1.5vw;
	font-size: 2vw;
  }
  
  .menu.show {
	margin-right: 0;
	transition: 500ms;
	z-index: 42;
  }
  
  .menu {
	width: 30%;
	height: 100vh;
	background-color:black;
	border-left: solid white .1vw;
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 9;
	margin-right: -60vw;
	transition: 500ms;
  }

  .menu em {
	font-size: 3.5vw;
	line-height: 1.2;	
	}

  p {
	height: 40.1vh;
    padding: 1vw;
	overflow: scroll;
	line-height: 1.3;
	font-family: 'Nunito_Sans';	
	border-bottom: solid white .1vw;
}

.menu strong {
	color: turquoise;
text-indent: 4vw;
}

.info strong {
    font-size: .7vw;
    display: block;
    line-height: 1.1;
    text-align: right;
	font-family: 'Nunito_Sans_black';	
    font-weight: bold;
}

@font-face {
	font-family: 'Nunito_Sans';
	src: url(fonts/NunitoSans-Light.otf);
}

@font-face {
	font-family: 'Nunito_Sans_black';
	src: url(fonts/NunitoSans-Black.otf);
}

  .map.oslo.show {
	display: block;
  }
  
  .map.docklands.show {
	display: block;
  }

  .map.losangeles.show {
	display: block;
  }

  .map.czechrepublic.show {
	display: block;
  }

  .map.ostend.show {
	display: block;
  }

  .map.milan.show {
	display: block;
  }
  
  .map.oslo {
	height: 100vh;
	width: 100vw;
	display: none;
  }

  .map.oslo img {
	width: 100vw;
	}
  
  
  .map.docklands {
	width: 100vw;
	display: none;
  }

  .map.docklands img {
  width: 100vw;
  }

  .map.losangeles {
	width: 100vw;
	display: none;
  }

  .map.losangeles img {
	width: 100vw;
	}
  
  .map.czechrepublic {
	width: 100vw;
	display: none;
  }

  .map.czechrepublic img {
	width: 100vw;
}

  .map.ostend {
	width: 100vw;
	display: none;
  }

  .map.ostend img {
	width: 100vw;
}

  .map.milan {
	width: 100vw;
	display: none;
  }

  .map.milan img {
	  width: 100vw;
  }

  .map {
	  z-index: 1;
  }
  
  .box.barcode {
	position: absolute;
    left: 30vw;
	top: 17vw;
  }

  .box.face {
	position: absolute;
	left: 74vw;
	top: 21vw;
  }

  .box.underpass {
	position: absolute;
	left: 36vw;
	top: 20vw;
  }
  
  .box.friend {
	position: absolute;
	left: 66vw;
	top: 20vw;
	width:5vw;
  }
  
  .box.dubai {
	position: absolute;
	left: 70vw;
	top: 30vw;
  }

  .box.bunker {
	position: absolute;
	left: 70vw;
	top: 5vw;
  }

  .box.docklands {
    position: absolute;
    left: 48vw;
    top: 17vw;
  }

  .box.ghost {
    position: absolute;
    left: 5vw;
    top: 30vw;
  }

  .box.freeway {
    position: absolute;
    left: 49.5vw;
    top: 13.5vw;
  }

  .box.powerline {
    position: absolute;
    left: 34vw;
    top: 10vw;
  }
  
  .button {
	padding: 20px;
	width: 5vw;
	height: 5vw;
	cursor: pointer;
	border: .1vw white solid;
	border-radius: 100%;
	box-shadow: 2px 2px 5px black;
	transition: 200ms;
	z-index: 32;
	}

  .button:hover{
	  transform: scale(1.5);
	  transition: 200ms;
   }

  .info {
	position: relative;
	top: -60px;
	left: -350px;
	width: 300px;
	display: none;
	font-size: 1vw;
	padding: 1vw;
	transition: 500ms;
	line-height: 1.4;
	background-color:black;
	border: solid white .1vw;
	font-family: 'Nunito_Sans';	
  }

  .info.large {
	transition: 500ms;
	width: 40vw;
	height: 60vh;
	background-color:black;
	padding: 20px;
	display: none;
	overflow: scroll; 
 }

 .info.large em {
	font-family: 'Nunito_Sans_black';	
	font-size: 2vw;
	line-height: 1.1;
	color: skyblue;
}

  .box.oslo {
	position: absolute;
	left: 40vw;
	top: 10vw;
  }
  
  .box.melbourne {
	position: absolute;
	left: 70vw;
	top: 20vw;
  }

  .box.artist {
	position: absolute;
	left: 37vw;
	top: 19vh;
  }
  
  .info.left {
	position: relative;
	left: -20vw;
	top: -14.5vw;
  }

  .info.left img {
	  width: 100%;
  }

  .info.up {
	position: relative;
	left: -22.25vw;
	top: -17.75vw;
  }

  .info.down {
	position: relative;
	left: 10vw;
	transition: 500ms;
  }

  .info.downleft {
	position: relative;
    left: -24vw;
    top: -4vwt;
	transition: 500ms;
  }

  .close-down {
	left: 28.7vw;
    top: 2vw;
	z-index: 34; 
	cursor: pointer;
}

.close-downleft {
    left: -5.3vw;
    top: 2vw;
	z-index: 34; 
	cursor: pointer;
}

.close-down.large {
	left: 48.7vw; 
}

.close-downleft.large {
	left: 14.7vw; 
	top:12
}

.info.down img {
	width: 100%;
}

.info.downleft img {
	width: 100%;
}
  
  .info.right {
	position: relative;
	top: -20vw;
	left: 10vw;
  }

  .info.right img {
	width: 100%;
}

.info.small {
	position: relative;
	height: 14vw;
	top: -3vw;
	left: -30vw;
  }

  .info.small.large {
	position: relative;
	height: 26.5vw;
	top: -3vw;
	left: -30vw;
  }

  .info.small img {
	width: 100%;
}
  
  .info {
	  width: 20vw;
	  height: 60vh;
	  background-color:black;
	  padding: 20px;
	  display: none;
	  overflow: scroll;
	  z-index: 40;
  }
  
  .info.open {
	display: block;
  }
  
  .close {
	position:relative;
	display:none;
	width: 2.5vw;
	height: 2.5vw;
	padding: 0.2vw;
	border: white solid .1vw;
	background-color: black;
  }


	.close-left {
		top: -8.5vw;
		left: -1.25vw;
		z-index: 4; 
		cursor: pointer;
		}

	.close-right {
		top: -13.5vw;
		left: 28.75vw;
		z-index: 4; 
		cursor: pointer;
		}

	.close-left.large {
		left: 18.6vw;
		}

	.close-right.large {
		top: -13.75vw;
		left: 48.75vw;
		}

	.large {
		transition: 500ms;
		font-size: 2vw;
	}

	.close-up {
		top: -11.5vw;
		left: -3.5vw;
		z-index: 4; 
		cursor: pointer;
	}

	.close-up.large {
		left: 16.5vw;
	}
  
  .close.show {
	display:block;
	z-index: 41;
  }

  .close.show img {
	  width: 2vw;
  }

  .close:hover {
	  transform: scale(1.5);
	  transition: 200ms;
	}

  .grid {
	  position:fixed;
  }
	
  .boxes {
    display:flex;
    flex-wrap:wrap;
    position:relative;
    top:0px;
    left:0px;
	z-index: 100;
  }
  
  .gridlines {
    border-right:1px solid white;
    border-bottom:1px solid white;  
    height:10vw;
    width:10vw;
    pointer-events:none;
	padding-top: .5vw;
	padding-left: .5vw;
  }

  .gridlines em {
	opacity: .7;
	font-size: .8vw;
	font-family: 'Nunito_Sans';	
  }

  .title {
    color: white;
    position: fixed;
    top: 20vh;
    left: 2vw;
    font-size: 11vh;
    line-height: 1.3;
}

.title em {
    line-height: 0.91;
    font-size: 22vh;
}

.info em {
	font-family: 'Nunito_Sans';	
	font-size: 2vw;
	line-height: 1.1;
	color: skyblue;
}

.info a {
	font-family: 'Nunito_Sans';	
	font-size: 2vw;
	line-height: 1.1;
	color: skyblue;
	text-decoration: none;
}

.title.hidden {
	left: -95vw;
	transition: 1.5s;
}

.author {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: red;
	color: white;
    z-index: 3;
    position: fixed;
    top: 0;
    right: 0;
    mix-blend-mode: exclusion;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: move 20s linear alternate infinite;
}

.author:hover {
	animation-play-state: paused;
}

@keyframes move {
	0% {
		top: 0%;
		right: 0%;
	}
	15% {
		top: 75%;
		right: 25%;
	}
	30% {
		top: 30%;
		right: 55%;
	}
	45% {
		top: 75%;
		right: 80%;
	}
	60% { 
		top: 25%;
		right: 85%;
	}
	75% {
		top: 0%;
		bottom: 75%;
	}
	90% {
		top: 50%;
		bottom: 15%;
	}
	100% {
		top: 75%;
		right: 25%;
	}
}

.author a{
	text-decoration: none;
	color: black;
	text-align: center;
	font-size: 2vw;
}

.author.hidden {
	animation-play-state: paused;
	display: none;
	transition: 1s;
}

.zoom-in {
	position: fixed;
	transition: 200ms;
	display: block;
	cursor: pointer;
}

.zoom-in.filled {
	color: white;
}

.zoom-out {
	position: fixed;
	transition: 200ms;
	display: block;
	cursor: pointer;
}

.zoom-in:hover {
transform: scale(1.5);
transition: 200ms;
}

.zoom-out:hover {
	transform: scale(1.5);
	transition: 200ms;
	}

.zoom-in img {
	box-shadow: 0px 0px 10px black;
	border-radius: .5vw .5vw 0vw 0vw;
	width: 2.5vw;
}

.zoom-out img {
	width: 2.5vw;
	border-radius: 0vw 0vw 0.5vw 0.5vw;
	box-shadow: 0px 0px 10px black;
}

.zoom-in {
	top: 60vw;
	left: 3.5vw;
}
	
.zoom-out {
	top: 66.1vw;
	left: 3.5vw;
}

.zoom-in.show{
	top: 12.5vw;
	}

	.show {
		transition: 1s;
	}

.zoom-out.show{
	top: 15.5vw;
}

.scale {
	position: fixed;
	bottom: 1vw;
	left: 100vw;
	cursor: pointer;
}

.scale img {
	width: 8vw;
}

.scale.show{
	bottom: 1vw;
	left: 1vw;
	transition: 1s;	
}

.person {
	position:fixed;
	bottom: 23vw;
	left: -50vw;
	cursor: pointer
	;
}

.person img {
	width: 1vw;
	box-shadow: 0px 0px 10px black;
	border-radius: .5vw .5vw .5vw .5vw;
}

.person.show {
	bottom: 23vw;
	left: 4vw;
	transition: 1s;	
}

.person:hover {
	transform: scale(1.5);
	transition: 200ms;
}

.credit {
	position: absolute;
	bottom: .5vw;
	right: .5vw;
	width: 4vw;
	height: 4vw;
	font-size: .6vw;
	border-radius: 100%;
	text-align: center;
	line-height: 1.4;
	text-indent: 0px;
	cursor: pointer;
	transition: 500ms;
	background-color: RED;
}

.credit:hover {
	background-color: red;
	transform: scale(2);
}

.credit a {
	text-decoration: none;
	color: red;
	line-height: 1.4;
}

.credit a:hover {
	color: skyblue;
}

.streetview {
display: none;
}

.streetview iframe {
    width: 100%;
    height: 100%;
}

.streetview.show {
	position: fixed;
    bottom: 0vw;
    left: 0vw;
    z-index: 30;
    width: 40vw;
    height: 40vh;
	border: solid white .1vw;
	box-shadow: 0px 0px 10px black;
	transition: 1s;
	display: block;
}




